
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Brevet Ride</title>
        {% endif %}
    </head>
    <body>
        <div>
            Brevet Ride:
            <a href="{{ url_for('index') }}">Home</a>
	          <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">logIn</a>
            <a href="{{ url_for('logout') }}">logOut</a>
            <a href="{{ url_for('get_auth_token')}}">Get token</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
