<html>
<title>Opening and Closing Times</title>
<h1> ACP Brevet </h1>
{% for item in items %}
  <h3> Checkpoint#{{item.number}} ({{ item.distance}}km)</h3>
  <p>============================</p>
  <p> Begin at {{ item.begin_date }} {{ item.begin_time }}</p>
  <p> KM: {{ item.km }} &nbsp Mile: {{ item.mile }}</p>
  <p> open time:  {{item.open_time}} </p>
  <p> close time: {{item.close_time}} </p>
  <p>============================</p>
{% endfor %}
</html>
