{% extends 'base.html' %}

{% block content %}
    <h1>Sign In</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <span style='color: red;'>
      {{ messages[0] }}
    </span>
    {% endif %}
    {% endwith %}

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.csrf_token }}
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
